﻿@charset "utf-8";
/* msg 留言板 */
.msg{width:100%;margin:16px auto;height:auto;overflow:hidden;}
.msg li{width:100%;height:auto;padding-bottom:10px;margin-bottom:10px;}
.msg_top{width:100%;height:auto;font:14px/30px "microsoft yahei";background:#ededed;color:#333333;text-indent:14px;overflow:hidden;border-radius:3px 3px 0 0; font-weight:bold;}
.msg_top span{margin-right:14px;}
.msg_con{border:1px solid #ebebeb;background:#f3f3f3;overflow:hidden;padding-bottom:12px;}
.msg_consult{width:96%;margin:0 auto;font:14px/36px "microsoft yahei";color:#7b7b7b;}
.msg_reply{width:96%;margin:0 auto;font:14px/36px "microsoft yahei";border:1px solid #ebebeb;border-radius:3px ;background:#fff;color:#ff5958;text-indent:14px;}
.msg_now{width:100%;height:34px;background:url(./qtimages/msg_line1.png) center center no-repeat;overflow:hidden; margin:15px 0 0 0;}
.msg_title{width:155px;height:34px;background:url(./qtimages/msg_btn.png) 7px center no-repeat #ff5958;text-indent:43px;margin:0 auto;color:#fff;font:22px/34px "microsoft yahei";}
.msg_ul{width:650px;height:auto;overflow:hidden;margin:20px auto;}
.msg_ul li{width:100%;height:auto;overflow:hidden;position:relative;margin-bottom:6px;}
.msg_ul li p{width:90px; float:left;height:36px;vertical-align: top;  text-align:right; margin: 0 6px 0 0;}
.msg_ul li p span{color:red;margin-top:2px;vertical-align: middle;font-weight: bold}
.msg_input{height:38px; line-height:38px; width:330px; border:1px solid #6a3207; background:#f0c7a7; border-radius:4px; padding:0 10px;}
.msg_pin{width:80px;height:34px;border:1px solid #d9d9d9;border-radius:2px;padding:0 10px;float:left;}
.msg_pin img{float:left;margin-left:14px;}
.msg_textarea{ width:350px;height:120px;border:1px solid #6a3207; background:#f0c7a7; border-radius:4px; resize: none}
.msg_submit{width:115px;height:39px;margin:20px 0;border:0;text-align:center; background:none !important;background:url(./qtimages/subbut.png) top left no-repeat !important;cursor: pointer; margin-left:120px;}