﻿@charset "utf-8";
/* eyoucms.com 易优CMS -- 好用,免费,安全 */
blockquote,body,button,code,dd,div,dl,dt,fieldset,font,form,h2,input,legend,li,ol,p,pre,textarea,ul{margin:0;padding:0;border:0}
button,input,optgroup,option,select,textarea{font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit}
dd,dl,dt,li,ol,ul{display:block;list-style:none}
img{border:0}
.fl{float:left}
.fr{float:right}
.clear{clear:both;height:0;overflow:hidden}
a{text-decoration:none;outline:0}
html{overflow-x:hidden}
.center{text-align:center}
.center img{border:1px solid #ccc}
.fixed{position:fixed;width:55px;right:25px;bottom:50px;z-index:999 }
.fixed a{display:block;width:55px;height:53px}
.barbook{background:url(../qtimages/fixed.jpg) 0 0 no-repeat}
.barbook:hover{background-position:-54px 0}
.fixed a.codepic{background:url(../qtimages/fixed.jpg) 0 0 no-repeat;background-position:0 -53px;height:52px}
.fixed a.codepic:hover{background-position:-54px -53px}
.fixed div{position:relative}
.fixed a.backup{background:url(../qtimages/fixed.jpg) 0 0 no-repeat;background-position:0 -158px;height:52px}
.fixed a.backup:hover{background-position:-54px -158px;height:53px}
.fixed div img{position:absolute;left:-196px;width:196px;height:196px;top:-106px;display:none}
.banner{width:100%;height:509px;background:url(../qtimages/bg.jpg) center top no-repeat;padding:30px 0 0 0}
body{color:#515d6b;font-size:12px;overflow-x:hidden;background:#f6f6f6;font-family:宋体}
a{color:#515d6b}
.header{width:100%;min-width:1004px;height:144px;border-bottom:1px solid #1d1b28;background:url(../qtimages/topbg.jpg) left top repeat-x;z-index:99}
.header .top{padding:25px 0 0 0;height:60px}
.logo{float:left;display:inline;padding:0}
.tel{float:right;padding:5px 0 0 0}
.tel span{display:block;font-family:Impact;font-size:22px;background:url(../qtimages/ca.png) left center no-repeat;padding-left:30px;text-align:right;color:#fff;text-transform:uppercase}
.menu1{width:1304px;height:28px;margin:0 auto;padding:10px 0 0 0}
.menu1 ul{float:left;width:1304px}
.menu1 li{color:#bababa;float:left;width:80px;padding:0 15px 0 5px;ma/rgin:0 5px;position:relative;background:url(../qtimages/topright.gif) right center no-repeat}
.menu1 li a{color:#bababa;text-align:center;float:left;font-size:14px;width:100%;height:28px;line-height:28px}
.menu1 a:hover{color:#bababa;background:url(../qtimages/dao.png) center no-repeat;-webkit-transition:all 0s ease-in-out 0s;-moz-transition:all 0s ease-in-out 0s;transition:all 0s ease-in-out 0s}
.menu1 li.cur a{color:#bababa;background:url(../qtimages/dao.png) center no-repeat}
.menu1 a.cur{color:#bababa;background:url(../qtimages/dao.png) center no-repeat}
.menu1 li .mtan{min-width:800px;position:absolute;left:6px;top:28px;display:none;padding:10px 0 0 0;z-index:9;text-align:left;background:url(../qtimages/dtop.png) 35px top no-repeat}
.menu1 li .mtan .mm{float:left;background:#14131d;color:#bababa;line-height:20px;padding:0 5px}
.menu1 li .mtan .mm a{background:0 0;display:inline;float:none;color:#bababa;line-height:32px;padding:1px}
.menu1 li .mtan .mm a:hover{background:#fff;display:inline;color:#000}
.notice{width:1004px;margin:0 auto;position:relative;height:75px;line-height:30px;padding:30px 0 0 0}
.noticecon{width:583px;float:left;padding:0 0 0 20px;border:1px solid #d8d8d8;height:73px;border-right:0;background:#fff}
.noticecon p{padding:10px 0 0 0;color:#db261d;font-size:16px;font-family:微软雅黑;font-weight:700}
.noticecon b{text-transform:uppercase;float:left;font-family:Impact;font-size:22px;font-weight:400;color:#2f2e2e;padding-left:10px}
.noticecon marquee{float:left;width:370px;color:#fff;font-size:12px;font-family:'宋体'}
.search{position:relative;float:right;width:380px;z-index:999;height:53px;display:inline-block;line-height:30px;padding-left:20px;background:url(../qtimages/noticebg.jpg) left top #29283a no-repeat;padding-top:22px}
.text{float:left;margin-left: 11px;width: 300px;padding-left:5px;color:#707070;height:30px;line-height:30px;border:1px solid #d4d4d4}
.button{float:left;width:33px;margin-left:3px;height:32px;display:inline;background:url(../qtimages/button.png) center top no-repeat}
.select{float:left;width:82px;margin-left:3px;display:inline;background:url(../qtimages/select.gif) left top no-repeat;position:relative;z-index:9999999}
.select select{margin:5px auto;width:80px}
.search1{position:relative;fl/oat:right;width:254px;z-index:999;height:30px;display:inline-block;line-height:30px;margin-top:14px;padding-right:10px;background:url(../qtimages/inpfra.png) left top no-repeat}
.text1{float:left;width:200px;display:inline;padding-left:5px;color:#4e6990;height:28px;line-height:28px;margin:1px 0;margin-left:13px;border:0}
.button1{float:left;width:27px;margin-left:5px;height:26px;display:inline;background:url(../qtimages/button1.gif) left top no-repeat;border:0;margin-top:5px}
#marquee2{width:360px;height:30px;overflow:hidden;padding-left:10px}
#marquee2 ul li{float:left;height:30px;display:block;width:360px;font-family:"微软雅黑";font-size:14px}
#marquee2 ul li a{float:left;height:30px;line-height:30px;display:block;width:360px;color:#2f2e2e}
#marquee2 ul li a span{float:left;width:260px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
#marquee2 ul li a label{float:right;width:90px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
#marquee2 ul li img{display:block}
.control{width:9px;left:200px;top:2px}
#goD{width:30px;height:30px;position:absolute;left:548px;bottom:10px;dis/play:none}
#goU{width:30px;height:30px;position:absolute;left:520px;bottom:10px;displ/ay:none}
#goTopBtn{POSITION:fixed;TEXT-ALIGN:center;LINE-HEIGHT:30px;WIDTH:74px;BOTTOM:201px;HEIGHT:74px;margin-right:144px;FONT-SIZE:12px;CURSOR:pointer;RIGHT:0}
div.selectbox-wrapper{border:#dcdcdc 1px solid;overflow:hidden;width:86px;position:absolute;background:#fff;text-align:left;z-index:10}
div.selectbox-wrapper ul li.selected{background:#252525;color:#fff}
div.selectbox-wrapper ul li.current{color:#fff;background-color:#252525}
div.selectbox-wrapper ul li{text-align:center;padding-right:3px;padding-bottom:3px;width:100%;cursor:pointer;line-height:20px;padding-top:3px;font-size:12px;font-family:'Microsoft Yahei';color:#666}
.selectbox{border:none;display:block;width:88px;text-indent:8px;cursor:pointer;height:32px;background:0 0;font-size:12px;font-family:'Microsoft Yahei';color:#2f2f2f;line-height:32px}
.lv_ful{float:left;width:182px;padding:0 0 0 14px}
.lv_ful li{float:left;width:182px;padding:20px 0 0 0}
.lv_ful li a.a1{float:left;width:182px;color:#fff;border-bottom:1px solid #787269;height:24px;line-height:24px;overflow:hidden}
.lv_ful li a.a2{padding:5px 0 0 0;float:left;width:182px;color:#898681;height:32px;line-height:16px;overflow:hidden}
.lv_ful li a.a1:hover{color:#fff}
.lv_ful li a.a2:hover{color:#898681}
.lv_fmore{float:left;width:180px;line-height:43px;height:43px;background:url(../qtimages/lv_bu.png) left top no-repeat;font-size:18px;color:#45030f;font-family:微软雅黑;text-align:center;display:inline;margin:21px 0 0 14px}
a.lv_fmore:hover{color:#45030f}
.case{padding-top:0;width:100%;position:relative;z-index:0;height:587px;background:url(../qtimages/bg1.jpg) center top no-repeat}
.case .ititle{border-bottom:1px solid #2f2f2f}
.case .ititle font{color:#fff}
.lv_mmtopc{width:980px;margin:0 auto;height:35px;padding:10px 0 0 0;text-align:center}
#case{width:990px;float:left;padding-bottom:58px}
#case li{position:relative;margin:0 1px 1px 0;float:left}
#case li img{display:block}
.casetitle{position:absolute;width:245px;height:118px;padding-top:66px;text-align:center;color:#fff;background:url(../qtimages/gray.png) top center repeat}
.viewbut{width:40px;height:40px;float:left;display:inline;background:url(../qtimages/view.png) top center no-repeat;margin:0 15px 0 76px}
.zoombut{width:40px;height:40px;float:left;display:inline;background:url(../qtimages/zoom.png) top center no-repeat}
.case_t{width:245px;text-align:center;color:#fff;float:left;padding-top:20px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;font-family:'Microsoft Yahei';font-size:15px}
.main{width:980px;margin:0 auto;position:relative}
.fyMain{margin-top:0;margin-b/ottom:40px;width:100%;padding:0 0 30px 0}
.pro .proimg{width:178px;height:241px;float:left;border:4px solid #fff;overflow:hidden}
.pro li{float:left;width:187px;margin-left:20px;overflow:hidden;position:relative}
.casename{height:30px;width:187px;padding:0 0;float:left;color:#3f2110;font-family:'宋体';line-height:30px;font-weight:700}
.casename a{color:#3f2110;width:100%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;display:block;text-align:center}
.footclear{width:100%;clear:both;margin:0;height:0;font-size:0;overflow:hidden}
.foot{width:100%;min-width:1004px;color:#fff;padding:0;height:144px;overflow:hidden;background:url(../qtimages/topbg.jpg) center top repeat-x}
.fmain{width:900px;margin:0 auto;text-align:center}
.f_link{width:100%;height:52px;line-height:52px;color:#000;background:#fff}
.f_link .main{position:relative;z-index:999;text-align:center}
.f_link a{padding-left:20px;color:#000}
.f_link span{color:#000}
.bottomnav{width:100%;height:30px;line-height:30px;border-bottom:1px solid #282828;padding-top:29px;text-align:center}
.bottomnav a{height:45px;overflow:hidden;display:inline-block;width:90px;margin:0 5px}
.bootTxt{float:left;bo/rder-top:1px solid #080808;width:100%;padding-top:10px;line-height:30px;font-family:宋体}
.bootTxt .fl{padding/-left:20px;float:left;width:70%;text-align:left;color:#a7a7a7;padding-left:20px;padding-top:35px}
.bootTxt .fl a{color:#a7a7a7}
.bootTxt .fl a:hover{color:#a7a7a7}
.foot a{color:#a7a7a7}
.share{float:right;width:210px;margin:0 auto;padding:0}
.pronaf{text-transform:uppercase;display:inline-block;text-align:center;font-size:20px;background:#da231b;color:#fff;line-height:1.3;padding:0 10px}
.f_linkmap{color:#a7a7a7;padding:35px 0 0 40px;font-size:13px;height:32px}
.f_linkmap a{padding:0;color:#a7a7a7}
.d_linleft{float:left;width:690px}
.main_content{padding:0;width:1004px;margin:0 auto;position:relative;zoom:1;min-height:389px}
.nf_hp_kv{height:389px;margin:0 -500px;position:relative;width:2000px}
.nf_hp_kv .window{height:389px;overfl/ow:hidden;position:relative;width:2000px}
.nf_hp_kv .window .kv_item{height:389px;overflow:hidden;padding:0 500px;position:absolute;width:1004px;z-index:0}
.nf_hp_kv .nav{width:100%;display:block;height:5px;left:45%;position:absolute;bottom:10px;z-index:10}
.nf_hp_kv .nav li{margin-right:12px;display:inline;float:left;height:5px;width:80px}
.nf_hp_kv .nav li a{background:#a9a9a9;display:inline;float:left;height:0;overflow:hidden;padding-top:5px;width:80px}
.nf_hp_kv .nav li a:hover,.nf_hp_kv .nav li.active a{width:80px;background:#ff5a00}
.nf_hp_kv .btn_next,.nf_hp_kv .btn_prev{display:none;height:88px;overflow:hidden;position:absolute;top:130px;width:46px}
.nf_hp_kv .btn_prev{left:480px}
.nf_hp_kv .btn_next{right:480px}
.nf_hp_kv .btn_prev a{background-image:url(../qtimages/jt1.png);display:block;height:88px;overflow:hidden;padding-top:0;width:46px}
.nf_hp_kv .btn_next a{background-image:url(../qtimages/jt2.png);display:block;height:88px;overflow:hidden;padding-top:0;width:46px}
.nf_width_control{width:100%;overflow:hidden;min-width:1000px;zoom:1;position:relative}
.nf_hp_kv .imgg{width:1002px;height:104px;left:25%;position:absolute;top:0;z-index:10}
.fy{margin:0 auto;width:980px;padding-bottom:0;overflow:hidden}
.title{width:980px;line-height:38px;height:38px;position:relative;margin-bottom:20px}
.title .fl{float:left;height:21px;color:#45030f;font-size:24px;font-family:'Microsoft Yahei'}
.title .fr,.title .fr a{color:#9d9d9d;font-size:14px}
.title .fr{margin-right:8px;font-family:' 宋体'}
.title .fr font{font-size:14px}
.fyLeft{float:left;width:235px;margin-top:20px;overflow:hidden;margin-bottom:20px;margin-left:5px}
.l_procon{float:left;width:232px}
.l_news{float:left;width:240px;padding-bottom:30px}
.l_news_t{border-bottom:1px solid #ededed;height:25px;color:#70b80c;width:100%}
.l_news_t .fl{font:20px/1 'Microsoft Yahei';padding-left:3px;border-left:3px solid #70b80c;margin-left:9px}
.l_news_t a{background:#a9d46d;width:34px;height:22px;line-height:22px;text-align:center;color:#fff;float:right}
.l_pro{float:left;width:240px;font-family:'Microsoft Yahei';padding-bottom:30px}
.l_pro_t{font-family:'Microsoft Yahei';font-size:18px;width:234px;height:38px;color:#000;line-height:38px;border:1px solid #cecece;border-left:0;float:left;display:inline;margin-bottom:12px}
.l_pro_t label{height:38px;border-left:5px solid #a27760;float:left;padding-left:7px}
.proOne{width:100%;float:left;overflow:hidden}
.proOne a{font-family:'Microsoft Yahei';width:204px;border-bottom:1px solid #ceccbe;padding-left:30px;color:#2e2e2e;line-height:40px;float:left;font-size:14px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;background:url(../qtimages/l_pro.gif) no-repeat 18px center}
.proTwo{float:left;width:190px;line-height:25px;overflow:hidden;padding-left:45px;padding-top:10px}
.proTwo li{float:left;width:100%}
.proOne a:hover{color:#900005}
.proTwo li a{float:left;border-bottom:0;font-family:'Microsoft Yahei';font-size:14px;background:0 0;color:#2e2e2e;line-height:25px;width:190px;font-weight:400;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;padding-left:0}
.proTwo li a:hover{float:left;color:#900005}
.l_contact{float:left;width:230px;font-family:'Microsoft Yahei';font-size:14px}
.l_contactcon{float:left;padding:10px 0 20px;padding-left:20px;width:213px;background:url(../qtimages/l_contact.jpg) no-repeat top left}
.l_tel{width:212px;margin-top:13px;float:left;padding-left:18px;background:#70b80c;font-size:16px;color:#fff;line-height:28px;height:28px}
.l_contactcon font{color:#70b80c;font:22px/1 'Microsoft Yahei'}
.l_contactcon p{color:#959595;margin:20px 0 15px 0;line-height:1.2}
.l_contactcon a{background:#70b80c;width:115px;text-align:center;height:25px;display:block;line-height:25px;color:#fff}
.pointer li{float:left;width:100%;border-bottom:1px solid #ceccbe;height:39px;line-height:39px}
.pointer li a{color:#525252;width:90%;float:left;background:url(../qtimages/newsico.gif) 9px 17px no-repeat;padding-left:7%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.pointer li a:hover{color:#000}
.pointer li .fl{cursor:pointer;float:left;width:60%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.pointer li .fr{color:#707070}
.pointer{float:left;width:238px;border:1px solid #ceccbe;background:#dfddce;padding:0 0 20px 0}
.lv_cont{float:left;width:235px;background:url(../qtimages/map.png) center bottom no-repeat;color:#515151;font-size:12px;pad/ding:10px 14px 0 14px;min-height:230px}
.lv_cont p.p1{height:35px;line-height:35px;float:left;width:185px;background:url(../qtimages/lv4.png) 10px center no-repeat;display:inline;margin:5px 0 0 0;padding:0 0 0 50px;color:#7d716b;font-size:14px;font-family:Arial,Helvetica,sans-serif}
.lv_cont p.p2{height:35px;float:left;width:185px;background:url(../qtimages/lv5.png) 10px center no-repeat;padding:0 0 0 50px;color:#7d716b;font-size:14px;font-family:Arial,Helvetica,sans-serif;display:inline;margin:5px 0 0 0}
.lv_cont p.p3{height:35px;line-height:35px;float:left;width:185px;background:url(../qtimages/lv6.png) 10px center no-repeat;padding:0 0 0 50px;color:#7d716b;font-siz/e:14px;font-family:Arial,Helvetica,sans-serif;display:inline;margin:5px 0 0 0}
.fyRight{float:right;padding-bottom:30px;overflow:hidden;width:715px;padding:20px 0 0 0}
.membermain{padding-top:20px}
.padding25{padding:10px 0;width:980px;word-break:break-all;line-height:30px;font-size:14px;min-height:640px;color:#777}
.mainr_line{float:left;height:18px;width:99%;background:url(../qtimages/line_s.gif) top left repeat-x}
.pro_list li{margin:13px 29px;float:left;width:179px;height:290px;display:inline}
.pro_list .proimg{width:179px;height:241px;float:left;border:1px solid #cbcbcb}
.pro_list li p{width:179px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;padding:5px 0;float:left;height:30px;color:#3f2110;font:12px/30px ' Y宋体';text-align:center;font-weight:700}
.news_list{padding:0 0 0 20px;width:960px;font-size:14px}
.news_list li{float:left;width:960px;line-height:50px}
.newseven{background:#e8e8e8}
.news_list li a{float:left;width:100%;height:50px;line-height:50px;color:#737171}
.news_list li a:hover{color:#292639}
.news_list li a span{cursor:pointer}
.news_list li .fl{width:546px;margin-left:6px;display:inline;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;padding-left:10px;font-size:14px}
.news_list li .fr{margin-right:5px;font-size:12px}
.news_line{clear:both;width:687px;height:18px;margin:10px 0; display:none;}
.news_list p{font-size:12px;padding:10px 20px;line-height:20px;color:#ccc}
.pro_txtimg{float:left;margin-bottom:20px;padding-left:14px}
.pro_txtimg li{float:left;width:980px;padding:30px 0;border-bottom:1px solid #fff}
.pro_li_img{float:left;width:220px}
.proimg,.proimg img{float:left}
.pro_txtimg .proimg{float:left;width:220px;height:165px}
.pro_li_txt{float:right;display:inline;width:735px;height:86px;color:#787878;line-height:36px;font-size:12px}
.pro_li_txt1{float:left;display:inline;width:960px;height:36px;color:#787878;line-height:36px;font-size:12px}
.pro_li_txt1 span{float:right;width:100px;color:#777; text-align:right;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.procon1{float:left;width:970px;line-height:26px;color:#777; text-align:left;height:104px;overflow:hidden;padding:10px 0 0 0}
.protitle1{float:left;width:540px;padding:0;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;color:#292639;font-size:14px;font-weight:700}
.procon{float:left;width:700px;line-height:26px;color:#777;text/-indent:22px;height:104px;overflow:hidden;padding:10px 0 0 0}
.protitle{float:left;width:540px;line-height:24px;padding:0;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;color:#292639;font-size:14px;font-weight:700}
.pro_li_txt span{float:left;width:735px;color:#777;height:20px;padding:10px 0 0 0;line-height:20px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.productfra h2{font-size:18px;font-family:'Microsoft Yahei';font-weight:400;color:#292639;text-align:left}
.padding25 .center img{border:1px solid #ccc;margin-bottom:10px;width:auto;max-width:600px;overflow:hidden}
.newsview{min-height:400px;display:inline;width:920px;padding-top:25px;margin-top:30px;margin-bottom:25px;padding-bottom:15px;font-size:14px;line-height:33px;float:left;color:#777;padding-left:40px;padding-right:40px}
.newsview img{border: 0;width:100%}
.main_r_nav span{float:left;color:#616161}
.title_s{float:left;width:980px;text-align:left;border-bottom:1px solid #e4e4e4;color:#777;margin-bottom:10px;font-size:12px;line-height:30px;padding:10px 0 0 0;display:inline;margin-bottom:20px}
.viewcon .center img{margin-bottom:10px;width:auto;max-width:600px;overflow:hidden}
.viewpage{background:#e3e3e3;width:100%;float:left}
.main_r_nav{float:left;width:700px;height:66px;padding:10px 0;font-size:14px;margin-left:20px;display:inline}
.returnlist{width:50px;height:56px;padding:15px 18px;display:inline;float:right;color:#fff;line-height:30px;font-size:12px;background:#da492e;border-radius:5px}
.returnlist a{color:#fff;text-align:center;font-size:18px;font-family:"microsoft yahei";width:100%;display:block}
.main_r_nav a{color:#2d2a3d;float:left;width:100%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;line-height:33px;font-size:14px}
.main_r_nav a:hover{color:#da492e}
.title_s .divleft{float:left}
.title_s .divright{float:right;padding:0}
.page{margin-top:50px;font-size:14px;float:left;width:100%;line-height:34px;text-align:center;color:#000}
.page a{color:#262217;padding:0 10px;margin:0 5px;border:1px solid #534a80;background:#fff}
.page *{display:inline-block;vertical-align:middle;line-height:32px;height:32px;padding-bottom:1px}
.page a:hover{color:#262217}
.page a.on{color:#ffffff; background:#534a80;}
.page img{height:auto;margin:0 3px}
.page .bg{font-weight:400;background:#534a80;color:#fff;margin:0 5px}
.page .disabled{padding:0 10px;color:#c5c5c5;border:1px solid #d5d5d5;background:#fff}
.page .current{display:inline-block;border:1px solid #da492e;padding:0 10px;color:#fff;background:#da492e;margin:0 5px}
.total{text-align:center;height:32px;line-height:32px}
.reach{text-align:left;padding-left:5px;height:32px;line-height:32px}
.btn{width:36px}
.btn a{background:#da492e;color:#fff;line-height:34px;width:64px;height:34px;text-align:center;border:1px solid #da492e;font-weight:400}
.input_page{width:30px;height:32px;text-align:center;border:1px solid #534a80;font-size:12px;line-height:32px}
.arrow_l{border:10px solid #000;margin-top:10px;display:inline;border-color:red transparent transparent transparent;border-style:solid dashed dashed dashed}
.searchnull{float:left;text-align:center;width:100%;padding:3% 0;font-size:14px}
.searchnull font{color:red;font-size:14px}
.searchmore{float:left;width:92%;background:#efefef;text-align:center;margin:10px 20px;border:1px solid #dbd6f1}
.searchmore a{line-height:25px;color:#333}
.input_title{background:0 0;line-height:30px;height:30px;padding-left:7px}
.message{float:left;padding-left:100px}
.message input,.message textarea{margin-left:13px;float:left;margin-bottom:14px;border:1px solid #000;border-radius:2px;line-height:32px;height:32px;text-indent:10px;color:#555}
.message textarea{height:177px}
.yzm{width:747px}
.yzm .fl{margin-left:15px}
.message .subbut{border:0;background:#da492e;border-radius:3px;width:397px;height: 32px;margin-left: 25%;line-height:32px;color:#fff;font-size:18px;font-family:"Microsoft Yahei"}
.viewcon{overflow:hidden;ma/rgin:0 12px 36px;width:940px;display:inline;word-break:break-all;color:#6c4c30;font-size:14px;float:left;padding:0 20px 20px;line-height:30px;font-size:14px}
.book{float:left;padding-left:114px}
.bookmain{width:626px;margin:20px auto;height:auto;background:#fff;overflow:auto}
.bookline{width:626px;height:34px;float:left;margin-top:10px}
.book3{width:626px;margin:0 auto}
.booktop{width:626px;height:30px;margin-bottom:10px;float:left;background:url(../qtimages/bookico.png) no-repeat 10px 7px;color:#555}
.booktop_name{width:360px;height:30px;float:left;padding-left:30px;line-height:30px;font-weight:700}
.booktop_time{width:150px;height:30px;float:right;text-align:right;line-height:30px;color:#555;font-size:14px;font-family:Arial}
.bookcontent{width:718px;margin-bottom:20px;min-height:40px;height:auto!important;float:left;border:1px solid #000;border-radius:3px;padding:10px;color:#057be9}
.bookadmin{width:540px;height:auto;float:left}
.bookcon_a{color:#555}
.bookcon_a b{color:#555}
.bookcon_t{border-bottom:1px solid #000;width:100%;color:#555}
.bookadmin_top{width:540px;height:12px;float:left}
.bookadmin_mid{width:500px;min-height:30px;background:#fff;height:auto!important;height:30px;border-left:1px solid #d6deef;border-right:1px solid #d6deef;border-bottom:1px solid #d6deef;float:left;padding:10px;color:#1e3601}
.admintimecol{color:#5e7194}
.c_red{color:red}
.searchred{color:red!important;margin:0!important}
.hr_fra{float:left;width:900px;padding-left:40px}
.hrBox{width:900px;float:left;min-height:91px;border:1px solid #dbdbdb;margin-bottom:20px;background:#efefef;margin-left:40px}
.hrBoxL{width:150px;float:left;text-align:center}
.hrBoxL li{width:150px;min-height:30px;line-height:30px;border-bottom:1px #dbdbdb solid;vertical-align:bottom}
.jobName{width:380px;float:left}
.hrBtn{width:100px;float:left;text-align:center;padding-top:3px}
.hrBoxL li.haode{border-bottom:none}
.hrBoxR{width:749px;float:left;text-align:left;border-left:1px solid #dbdbdb}
.hrBoxR li{width:719px;min-height:30px;line-height:30px;border-bottom:1px #dbdbdb solid;padding-left:15px;vertical-align:bottom;padding-right:15px}
.hrBoxR li.topline{overflow:hidden;height:30px}
.hrBoxR li.topline img{margin-top:3px}
.hrBoxR li.haode{border-bottom:none}
.hrTable{width:614px;float:left;height:440px;background:#efefef;border:1px solid #dbdbdb;margin-left:35px}
.tableTitle{width:614px;height:36px;text-align:center;line-height:36px;border-bottom:1px solid #dbdbdb;font-weight:700}
.lineOne{height:30px;line-height:30px;border-bottom:1px solid #dbdbdb;width:614px}
.lineOneL{width:94px;float:left;text-align:center;border-right:1px solid #dbdbdb}
.lineOneR{width:509px;float:left;padding-left:10px}
.tableMainL{width:94px;float:left;border-right:1px solid #dbdbdb;text-align:center}
.tableMainL li{width:94px;height:30px;line-height:30px;border-bottom:1px solid #dbdbdb}
.tableMainR{width:211px;float:left;border-right:1px solid #dbdbdb;text-align:left}
.tableMainR li{width:206px;height:30px;line-height:30px;border-bottom:1px solid #dbdbdb;padding-left:5px;vertical-align:bottom}
.tableMainR li span{display:inline-block}
.tableMainRno{width:212px;float:left;text-align:left}
.tableMainRno li{width:207px;height:30px;line-height:30px;border-bottom:1px solid #dbdbdb;padding-left:5px;vertical-align:bottom}
.tableMainRno li span{display:inline-block}
.input_hr{width:126px;height:17px;line-height:17px;padding:0;vertical-align:middle;font-size:12px;border:1px solid #dbdbdb}
.sel_hr{width:130px;height:20px;line-height:20px;padding:0;vertical-align:middle;font-size:12px}
.bottomLine{width:614px;height:123px;border-bottom:1px solid #dbdbdb}
.lineBootL{width:94px;height:123px;border-right:1px solid #dbdbdb;text-align:center;float:left}
.lineBootR{width:509px;float:left;padding-left:10px;height:123px}
.are_hr{width:470px;height:80px;margin-top:11px}
.hr_btn{width:614px;height:31px;line-height:31px;background:#da492e;color:#fff}
.hr_btnL{width:310px;float:left;border-right:1px solid #dbdbdb;text-align:center;height:31px}
.hr_btnR{width:300px;float:left;text-align:center}
.hr{margin:10px 0;float:left;width:100%;font-size:12px;line-height:24px;border:1px #CCC solid;border-collapse:collapse;background:#efefef}
.hr td{border:1px #CCC solid;border-collapse:collapse;line-height:2}
.hr input,.hr textarea{line-height:1.8;border:1px solid #ccc}
.hr input{height:24px}
.hr textarea{height:127px;width:567px}
.hr a{color:#333}
.hr a:hover{color:#de0303}
.hr_btn{width:100px;height:40px;font-size:12px}
#hrform{float:left;width:100%}
#jquery-overlay{position:absolute;top:0;left:0;z-index:90;width:100%;height:500px}
#jquery-lightbox{position:absolute;top:0;left:0;width:100%;z-index:100;text-align:center;line-height:0}
#jquery-lightbox a img{border:none}
#lightbox-container-image-box{position:relative;background-color:#fff;width:250px;height:250px;margin:0 auto}
#lightbox-container-image{padding:10px}
#lightbox-loading{position:absolute;top:40%;left:0;height:25%;width:100%;text-align:center;line-height:0}
#lightbox-nav{position:absolute;top:0;left:0;height:100%;width:100%;z-index:10}
#lightbox-container-image-box>#lightbox-nav{left:0}
#lightbox-nav a{outline:0}
#lightbox-nav-btnNext,#lightbox-nav-btnPrev{width:49%;height:100%;zoom:1;display:block}
#lightbox-nav-btnPrev{left:0;float:left}
#lightbox-nav-btnNext{right:0;float:right}
#lightbox-container-image-data-box{font:10px Verdana,Helvetica,sans-serif;background-color:#fff;margin:0 auto;line-height:1.4em;overflow:auto;width:100%;padding:0 10px 0}
#lightbox-container-image-data{color:#666}
#lightbox-container-image-data #lightbox-image-details{width:70%;float:left;text-align:left}
#lightbox-image-details-caption{font-weight:700}
#lightbox-image-details-currentNumber{display:block;clear:left;padding-bottom:1em}
#lightbox-secNav-btnClose{width:66px;float:right;padding-bottom:.7em}
.proname{margin:0 auto 0 auto;width:980px;text-align:center;color:#595669;font-size:16px;font-family:Arial,Helvetica,sans-serif;text-transform:uppercase}
.prolanmu1{width:100%;padding:20px 0 30px 0}
.pro_lanfra{margin:0 auto;width:980px;text-align:center;font-size:14px;color:#4e6990;line-height:30px}
.pro_lanfra a{color:#fff;background:#fff;padding:1px 8px;border-radius:5px;display:inline-block}
.prolanmu1 .pro_lanfra a{color:#fff;background:#29283a;padding:1px 8px;border-radius:5px;display:inline-block}
.pro_lanfra a:hover{color:#fff;background:#da492e}
.pro_lanfra a.cur{color:#fff;background:#da492e}
.pro_lanfra span{position:relative;margin:5px; z-index:9;}
.pro_lanfra span .nnn{width:800px;position:absolute;left:6px;top:20px;display:none;padding:6px 0 0 0;*padding:16px 0 0 0;z-index:9;text-align:left}
.pro_lanfra span .nnn .nnfra{float:left;background:#4d4d4d;color:#fff}
.pro_lanfra span .nnn .nnfra a{background:0 0;display:inline;float:none;color:#fff}
.pro_lanfra span .nnn .nnfra a:hover{background:0 0;display:inline;color:#da492e}
.view-port{overflow:hidden;position:relative;width:980px}
.profra{width:980px;margin:0 auto}
.profra .limg{float:left;width:235px;height:176px;display:inline;margin:0 5px 13px 5px}
.profra .limg a b{z-index:10;position:absolute;top:-27px;left:104px;width:27px;height:27px;background:url(../qtimages/big.png) left top no-repeat}
.profra .limg a:hover b{z-index:10;position:absolute;top:70px;left:104px;width:27px;height:27px;background:url(../qtimages/big.png) left top no-repeat;-moz-transition:all .4s ease-in-out 0s;-webkit-transition:all .4s ease-in-out 0s;transition:all .4s ease-in-out 0s}
.profra .limg a label{display:none;text-align:center;position:absolute;width:225px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;color:#fff;line-height:30px;z-index:10;bottom:10px;left:0;font-size:14px;padding:0 5px}
.profra .limg a.img{cursor:pointer;float:left;width:235px;height:176px;overflow:hidden;position:relative}
.profra .limg a.img:hover img{-webkit-transform:scale(1.1);-ms-transform:scale(1.1);-moz-transform:scale(1.1);transform:scale(1.1);-webkit-transition:all ease-in-out .3s;transition:all ease-in-out .3s;-ms-transition:all ease-in-out .3s;transition:all ease-in-out .3s}
.profra .limg a span{z-index:9;position:absolute;left:0;top:0;width:235px;height:51px;background:url(../qtimages/pfloat.png) left top no-repeat;display:none;color:#fff;font-size:14px;padding:125px 0 0 0;line-height:30px;text-align:center;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.profra .limg a:hover span{display:block}
.kec{width:100%;background:url(../qtimages/busline.gif) center center no-repeat;text-align:center;margin:35px 0 5px 0;padding:0 0 5px 0}
.prona1{display:inline-block;text-align:center;font-family:'Microsoft Yahei';font-size:26px;color:#d70c0c;line-height:1.3}
.news{width:980px;margin:0 auto;height:560px;padding:0;position:relative;overflow:hidden}
.newsleft{float:left;width:600px;position:absolute;left:0;top:0;margin-left:-600px}
.newsmain{float:left;width:600px;padding:0}
.newsmain li{float:left;width:600px;margin:0;height:75px;padding:12px 0;border-bottom:1px solid #d7d7d7}
.newsmain li a{float:left;width:600px;background:url(../qtimages/more.gif) right 15px no-repeat}

.news2{width:980px;margin:0 auto;height:560px;padding:0;position:relative;overflow:hidden}
.newsleft2{float:left;width:980px;position:absolute;left:0;top:0;margin-left:-600px}
.newsmain2{float:left;width:980px;padding:0}
.newsmain2 li{float:left;width:980px;margin:0;height:75px;padding:12px 0;border-bottom:1px solid #d7d7d7}
.newsmain2 li a{float:left;width:980px;background:url(../qtimages/more.gif) right 15px no-repeat}


.newsmain li a:hover{background:url(../qtimages/more1.gif) right 15px no-repeat}
.time{float:left;width:56px;height:58px;background:url(../qtimages/time.jpg) left top no-repeat;margin-right:1px;color:#fff;font-family:Arial,Helvetica,sans-serif;text-align:center;display:inline;margin:10px 0 0 10px}
.time font{float:left;text-align:center;width:100%;font:16px/27px Microsoft Yahei;color:#fff;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.time span{font:16px/31px Microsoft Yahei;float:left;width:100%;color:#fff;border-top:1px solid #fff;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.newsli_r{float:right;line-height:1.5;color:#8b8b8b;width:510px;margin-left:10px}
.newsli_rt{float:left;width:465px;font:14px/1.5 'Microsoft Yahei'}
.newsli_rt .fl{text-overflow:ellipsis;overflow:hidden;white-space:nowrap;width:465px;font-weight:700;color:#29283a}
.newsmain li a:hover .time{background:url(../qtimages/time1.jpg) left top no-repeat}
.newscont{float:left;width:450px;line-height:25px;font-size:12px;height:50px;overflow:hidden;color:#5c5c5c;padding:5px 0 0 0}

.newsltop{float:left;width:600px;background:url(../qtimages/newslline1.gif) left bottom repeat-x;padding:35px 0 15px 0}
.newsltop span{color:#d70c0c;font-size:26px;font-family:"Microsoft Yahei";float:left;padding:15px 5px 0 23px;background:url(../qtimages/newslline.gif) 8px 20px no-repeat}
.newsltop em{background:url(../qtimages/plus1.gif) left 25px no-repeat;text-transform:uppercase;padding:33px 0 0 0;float:left;color:#7d7b9f;font-size:16px;font-family:Arial,Helvetica,sans-serif;font-style:normal}
.newsltop a{float:right;font-size:14px;color:#29283a;display:inline;margin:35px 0 0 0}

.newsltop2{float:left;width:980px;background:url(../qtimages/newslline1.gif) left bottom repeat-x;padding:35px 0 15px 0}
.newsltop2 span{color:#d70c0c;font-size:26px;font-family:"Microsoft Yahei";float:left;padding:15px 5px 0 23px;background:url(../qtimages/newslline.gif) 8px 20px no-repeat}
.newsltop2 em{background:url(../qtimages/plus1.gif) left 25px no-repeat;text-transform:uppercase;padding:33px 0 0 0;float:left;color:#7d7b9f;font-size:16px;font-family:Arial,Helvetica,sans-serif;font-style:normal}
.newsltop2 a{float:right;font-size:14px;color:#29283a;display:inline;margin:35px 0 0 0}

.news_frr{float:left;width:330px;padding:10px 0 0 0;color:#867da4;line-height:24px}
.news_mapcon{float:left;width:330px}
.news_mapcon label{float:left;width:40px;font-family:宋体}
.news_mapcon span{float:left;width:260px;font-size:12px}
.pronaa{margin:35px auto 0 auto;width:980px;background:url(../qtimages/newslline1.gif) left bottom repeat-x;padding:0 0 5px 0;height:40px}
.mowleft{float:right;line-height:40px;font-size:14px;color:#292639}
.mowleft a{color:#292639}
.mowleft a:hover{color:#292639}
.mowleft span{color:red;font-weight:700}
.mowleft b{color:#d70c0c;}
.nowname{float:left;text-align:center;white-space:nowrap;color:#d70c0c;font:26px/30px "Microsoft Yahei";background:url(../qtimages/plus1.gif) top right no-repeat;padding:0 5px 5px 0;display:inline;margin:0}
.nowname font{display:block;padding:2px 0;position:relative;margin-top:0;font-size:24PX}
.productfra{width:980px;margin:0 auto;overflow:hidden;padding:30px 0}
.productul{float:left;width:980px}
.productul li{float:left;width:220px;height:200px;display:inline;margin:0 0 20px 20px}
.productul li a{float:left;width:220px;height:200px}
.productul li a{cursor:pointer;float:left;width:220px;height:200px;background:#292639;color:#fff}
.productul li a:hover{cursor:pointer;float:left;width:220px;height:200px;background:#da492e;color:#fff}
.productul li a p{float:left;width:220px;height:35px;line-height:35px;font-size:14px;text-align:center;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.stop{width:980px;margin:0 auto;padding:40px 0 10px 0;height:55px;background:url(../qtimages/stopline.gif) left bottom repeat-x}
.stop label{float:left;font-family:黑体;font-size:51.99px;color:#767676}
.stop span{color:#fff;font-size:26px;font-family:"Microsoft Yahei";float:left;padding:15px 5px 0 0;background:url(../qtimages/plus.gif) right 20px no-repeat}
.stop em{text-transform:uppercase;padding:33px 0 0 0;float:left;color:#767676;font-size:16px;font-family:Arial,Helvetica,sans-serif;font-style:normal}
.stop a{float:right;font-size:14px;color:#fff;display:inline;margin:35px 0 0 0}
.conright{float:right;width:340px;position:absolute;top:0;right:0;margin-right:-340px}
.hdp_container{width:334px;height:244px;border:3px solid #7d7b9f;float:left;position:relative;display:inherit;font-size:12px;overflow:hidden;margin:50px 0 0 0}
.conmore{float:left;width:340px;height:59px;background:url(../qtimages/contact.png) left top no-repeat;display:inline;margin:30px 0 0 0}
.case1{padding-top:0;width:100%;position:relative;z-index:0;height:536px;background:url(../qtimages/bg2.jpg) center top no-repeat}
.caseleft{float:left;width:235px;height:365px;padding:30px 0 0 0}
.caseleft a{position:relative;float:left;width:235px;height:365px;overflow:hidden}
.caseleft a img{float:left;width:235px;height:365px}
.caseleft a span{z-index:9;position:absolute;left:0;top:0;width:235px;height:65px;background:url(../qtimages/cal.png) left top no-repeat;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;line-height:30px;color:#fff;font-size:14px;display:none;text-align:center;padding:300px 0 0 0}
.caseleft a:hover span{display:block}
.caseleft a:hover img{-webkit-transform:scale(1.1);-ms-transform:scale(1.1);-moz-transform:scale(1.1);transform:scale(1.1);-webkit-transition:all ease-in-out .3s;transition:all ease-in-out .3s;-ms-transition:all ease-in-out .3s;transition:all ease-in-out .3s}
.caseright{float:right;width:735px;padding:30px 0 0 9px}
.bus{width:1004px;margin:0 auto;height:329px}
.busfra{width:1004px;height:200px;float:left;position:relative;overflow:hidden}
.busul{float:left;width:1004px;padding:25px 0 0 0;position:absolute;top:0;margin-top:-280px}
.busul li{float:left;width:180px;padding:0 10px}
.busul li a.img{float:left;width:122px;height:87px;text-align:center;background:url(../qtimages/cir.jpg) left top no-repeat;padding:35px 0 0 0;display:inline;margin:0 0 0 26px}
.busul li a.img:hover{background:url(../qtimages/cir1.jpg) left top no-repeat}
.busul li a.wor{float:left;width:180px;text-align:center;padding:10px 0 0 0;line-height:20px}
.busul li a.wor label{font-size:16px;color:#29283a;font-family:"Microsoft Yahei"}
.busul li a.wor span{font-size:14px;color:#8a8a8a;font-family:Arial,Helvetica,sans-serif;text-transform:uppercase}
.menuf{width:100%;height:45px;background:#7d7b9f;padding:0;position:relative}
.menuf ul{width:1004px;margin:0 auto}
.menuf li{color:#fff;float:left;width:80px;padding:0 10px 0 10px;ma/rgin:0 5px;position:relative;background:url(../qtimages/topright.gif) right center no-repeat}
.menuf li a{color:#fff;text-align:center;float:left;font-size:14px;width:100%;height:45px;line-height:45px}
.menuf a:hover{color:#fff;background:url(../qtimages/dao.png) center no-repeat}
.menuf a.cur{color:#fff;background:url(../qtimages/dao.png) center no-repeat}
.linkbut{position:absolute;left:0;width:100%;text-align:center;bottom:-21px}

#container{background:url(../qtimages/bbbg.png) center top no-repeat;width:1004px;padding:5px;height:360px;overflow:hidden;margin:0 auto;position:relative;z-index:0}
#example{width:1004px;height:360px;position:relative}
#slides{position:absolute;top:0;left:0;z-index:100}
#slides .next,#slides .prev{position:absolute;top:144px;width:30px;height:70px;display:block;z-index:101}
.slides_container{width:1004px;height:360px;overflow:hidden;position:relative}
#slides .next{right:0}
,#slides .prev{left:0}
.pagination{margin:26px auto 0;width:100px}
.pagination li{float:left;margin:0 1px}
.pagination li a{display:block;width:12px;height:0;padding-top:12px;background-image:url(../qtimages/pagination.png);background-position:0 0;float:left;overflow:hidden}
.pagination li.current a{background-position:0 -12px}
.caption{display:none;position:absolute;bottom:-35px;height:30px;padding:5px 20px 0 20px;background:#000;background:rgba(0,0,0,.5);width:964px;font-size:1.3em;line-height:1.33;color:#fff;border-top:1px solid #000;text-shadow:none;z-index:99}
.caption p{width:100%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}

